*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.maindiv{
    /* margin: 0!important */
    width: 100vw;
    height: 100vh;
}

.upernavbar{
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px  ;
    /* width: 80%; */
    margin: 0px auto;
}
.left{
    display: flex;
    gap: 20px;
    margin: 0px 100px;
    
}
.right{
    background-color: white;
    margin: 0px 100px;
}
.lowernavbar{
    margin: 0px 100px;
    padding: 10px;
    display: flex;
}
li{
    display: inline;
    text-decoration: none;
}
ul li{
    padding: 7px;
}
button{
    height: 50px;
    width: 100px;
    background-color: dodgerblue;
}
.thirddiv{
    margin: 0px 50px;
    padding: 40px;
}
.thirddiv button{
    width: 150px;
    background-color: white;
    margin: 10px 30px;
}
.mainthird{
    display: flex;
    /* justify-content: space-between; */
}